html {
    font-size: 16px;
}
body {
    background-color: black;
    text-align: center;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    color: white;
}
a {
    color: aquamarine;
    font-size: 1rem;
}
footer {
    text-align: right;
    color: gray;
}
.firstsection {
    font-weight: 300;
    font-size: 2.625rem;
}
.quote {
    color: gray;
    font-size: 1.3125rem;
}
.title{
    font-size: 3.125rem;
    font-weight: normal;
}
video {
    object-fit: containt;
}
