html {
    font-size: 16px;
}
body {
    background-color: black;
    text-align: center;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}
h1, h2 {
    color: white;
}
a {
    color: aquamarine;
    font-size: 1rem;
}
footer {
    text-align: right;
    color: gray;
}
